h2 タイトル
p
  = @post.title
h2 本文
p
  = @post.body
= link_to "編集", edit_post_path(@post.id), class: "btn edit-btn"
= link_to "削除", destroy_post_path(@post.id), method: :delete, class: "btn destroy-btn", "data-confirm" => "本当に削除しますか？"
